@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: cadetblue;
    font-family: "EB Garamond", serif;

}

.navbar {
    background-color: black;
    color: rgb(255, 255, 255);
   width: 100%;
   position: sticky;
   top 0;
}

.footer {
    text-align: center;
    background-color: black;
    color: #ffffff;
    width: 100%;
}

section {
    background-color: beige;
    width: 100%;
}