body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-image: url('resources/giphy.webp'); 
background-position: 100%;
background-repeat: repeat-x;
}
.logo{
    padding: 20px;
    margin-left: 5%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #000;
    position: sticky;
    top: 0;
     animation: logo-color-animation 5s infinite; 

    
}
.navbox {
    background-color: #ffffff;
    border-radius: 16px;
    margin: 5px;
}
.navbar .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    animation: logo-color-animation 8s infinite; 
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    margin: 20px;
        animation: logo-color-animation 8s infinite; 

}

.navbar a {

    text-decoration: none;
    font-weight: 700;
    margin: 20px;
    animation: logo-color-animation 8s infinite; 

}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 50px 20px;
    max-width: 1200px;
    
}

.content {
    flex: 1;
   margin: 20px;
}

.content h1 {
    font-size: 3em;
    margin: 0;
    line-height: 1.1;
}

.content p {
    margin: 20px 0;
    font-size: 1em;
}

.main-image {
    flex: 1;
    width: 100%;
    background-image: url('resources/phonepicutres-TA.webp'); 
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-left: 20px;
}

.footer {
    padding: 20px;
    background-color: #000;
    color: #fff;
    width: 100%;
    text-align: center;
}
























































.animation-wrapper {
    display: flex;
    gap: 10px;
}

.circle {
    position: relative; 
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    background-color: turquoise;
    animation: move-the-circle 1s infinite;
    transform-origin: center center;
}

.circle:nth-child(1) {
    animation-delay: 0.1s;
}

.circle:nth-child(2) {
    animation-delay: 0.2s;
}

.circle:nth-child(3) {
    animation-delay: 0.3s;
}

.circle:nth-child(4) {
    animation-delay: 0.4s;
}

.circle:nth-child(5) {
    animation-delay: 0.5s;
}

.circle:nth-child(6) {
    animation-delay: 0.6s;
}

.circle:nth-child(7) {
    animation-delay: 0.7s;
}

.circle:nth-child(8) {
    animation-delay: 0.8s;
}

@keyframes move-the-circle {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        background-color: rgba(39, 240, 56, 0.596);
    }
    50% {
        transform: translate(0, 10px) scale(0.4); 
        opacity: 0.5;
        background-color: rgb(0, 0, 0);
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        background-color: rgb(255, 255, 255);
    }
}

@keyframes logo-color-animation {
    12.5% {
        color: rgb(196, 73, 245); 
    }
    25% {
        color: skyblue; 
    }
    37.5% {
        color: rgb(85, 114, 212); 
    }
    50% {
        color: rgb(99, 200, 156); 
    }
    62.5% {
        color: rgb(240, 200, 130); 
    }
    75% {
        color: rgb(248, 119, 59); 
    }
    87.5% {
        color: rgb(245, 55, 55); 
    }
    100% {
        color: rgb(250, 101, 218); 
    }
    87.5% {
        color: rgb(245, 55, 55); 
    }
    75% {
        color: rgb(248, 119, 59); 
    }
  62.5% {
        color: rgb(240, 200, 130); 
    }
      50% {
        color: rgb(99, 200, 156); 
    }
   37.5% {
        color: rgb(85, 114, 212); 
    }
    25% {
        color: skyblue; 
    }
 

}

  
  
    

   