body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-image: url('resources/wp6193134.jpg'); 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.logo{
    padding: 20px;
    margin-left: 5%;
}

a:link, a:visited {
    background-color: rgb(223, 236, 233);
    color: black;
    border: 2px solid rgb(255, 255, 255);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
  }
  
  a:hover, a:active {
    background-color: rgb(0, 0, 0);
       border-radius: 16px;
  }
  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #000;
    position: sticky;
    top: 0;
     animation: logo-color-animation 5s infinite; 
     z-index: 1000;
     padding:30px;
     background-color: #000;
     width: 100%;
  position: sticky;
   height: 60px;

    
}
.navbox {
    background-color: #ffffff;
    border-radius: 16px;
    margin-right: 5%;
}
.navbar .logo {

    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    animation: logo-color-animation 8s infinite; 
}

.navbar ul {
    list-style: none;
    display: flex;
        animation: logo-color-animation 8s infinite; 

}

.navbar a {
    font-weight: 700;
    margin: 5px;
    animation: logo-color-animation 8s infinite; 
    display: flex;
}

.section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 20px;
    max-width: 1200px;

}

.content {
    flex: 1;
  
}

.content h1 {
    font-size: 3em;
    margin: 0;
    line-height: 1.1;
    
}

.content p {
    margin: 20px ;
}
.main-image-box { 
    padding: 10px;            
    margin: 10px 0;         
    border-radius: 8px;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: rgba(249, 249, 249, 0.7);
    max-width: 500px;

}

.main-image-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.main-image {

    width: 500px;
    background-image: url('resources/IMG_9409.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 16px;
}

.journey-image {
    background-image: url('resources/IMG_4291.jpg');
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 230px;
    border-radius: 18px;
    position: relative;
}

.Language-image {
    background-image: url('resources/computer-programming-web-development-computer-icons-source-code-computer-software-coding-891957f2eb3161d1336d2abb50b49e5d.png');
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
   position: relative;
   top: 50px
}

.Unity-image {
    background-image: url('resources/g9ha1b66hg208b5t72c164kl3m.png');
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 50px;
    position: relative;

}
.journey-image-box { 
    padding: 10px;            
    margin: 10px 0;         
    border-radius: 8px;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: rgba(249, 249, 249, 0.7);
    max-width: 230px;
    display: inline-block;
    margin-right: 50px; 
    width: 230px;
}

.journey-image-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 5px ;
  }

  .year2-image {
    background-image: url('resources/code-1084923_960_720.webp');
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 16px;
  }

  .year3-image {
    background-image: url('resources/INTERn.png');
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 16px;
  }

  .year4-image {
    background-image: url('resources/AIT.png');
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 16px;
  }

h1 ,h3 {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}

.article{
    justify-content: center;
    text-align: center;
}


.video-box {
    padding: 10px;            
    margin: 30px ;         
    border-radius: 8px;      
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    background-color: rgba(249, 249, 249, 0.7);
    max-width: 500px;
    justify-content: center;
    text-align: center;
}


.video-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }



.footer 
{
    padding:30px;
    background-color: #000;
    color: #fff;
 width: 100%;
    text-align: center;
    position: relative;
}





.Me-image {
    background-image: url('resources/351473405_257921313481612_1110126668839952854_n.jpg');
 

}
.Heart-image {
    background-image: url('resources/Tumblr.gif');
 
}
.You-image {
    background-image: url('resources/yoi.jpg');
    
}


.Heart-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px; 
    border-radius: 10px;
    margin-top: 50px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.Heart-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .Me-image, .Heart-image, .You-image {
    width: 100px; 
    height: 100px; 
    background-size: cover; 
    background-repeat: no-repeat;
    border-radius: 32px;
    padding: 50px;
}

















































.animation-wrapper {
    display: flex;
    gap: 10px;
}

.circle {
    position: relative; 
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    background-color: turquoise;
    animation: move-the-circle 1s infinite;
    transform-origin: center center;
}

.circle:nth-child(1) {
    animation-delay: 0.1s;
}

.circle:nth-child(2) {
    animation-delay: 0.2s;
}

.circle:nth-child(3) {
    animation-delay: 0.3s;
}

.circle:nth-child(4) {
    animation-delay: 0.4s;
}

.circle:nth-child(5) {
    animation-delay: 0.5s;
}

.circle:nth-child(6) {
    animation-delay: 0.6s;
}

.circle:nth-child(7) {
    animation-delay: 0.7s;
}

.circle:nth-child(8) {
    animation-delay: 0.8s;
}

@keyframes move-the-circle {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        background-color: rgba(39, 240, 56, 0.596);
    }
    50% {
        transform: translate(0, 10px) scale(0.4); 
        opacity: 0.5;
        background-color: rgb(0, 0, 0);
    }
    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
        background-color: rgb(255, 255, 255);
    }
}

@keyframes logo-color-animation {
    12.5% {
        color: rgb(196, 73, 245); 
    }
    25% {
        color: skyblue; 
    }
    37.5% {
        color: rgb(85, 114, 212); 
    }
    50% {
        color: rgb(99, 200, 156); 
    }
    62.5% {
        color: rgb(240, 200, 130); 
    }
    75% {
        color: rgb(248, 119, 59); 
    }
    87.5% {
        color: rgb(245, 55, 55); 
    }
    100% {
        color: rgb(250, 101, 218); 
    }
    87.5% {
        color: rgb(245, 55, 55); 
    }
    75% {
        color: rgb(248, 119, 59); 
    }
  62.5% {
        color: rgb(240, 200, 130); 
    }
      50% {
        color: rgb(99, 200, 156); 
    }
   37.5% {
        color: rgb(85, 114, 212); 
    }
    25% {
        color: skyblue; 
    }
 

}

  
  
    

   